<p>
  List of users
</p>
<ul>
  <li  *ngFor = "let key of usersKeys" >{{'user number '+key+' :'+users[key].username}}</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
  </ul>