<h2>
  List of messages
</h2>

<ul>
<li  *ngFor = "let key of messagesKeys" >{{'message number '+key+' :'+messages[key].body}}</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul>